target/
*.log*
/config/
.vagrant/
node_modules/
bower_components/
/bin/
/.gradle/
/.springBeans
.idea
gradle
gradlew
gradlew.bat.
.externalToolBuilders/
.dccache
robots/charts/
tmp/
helm/charts
.DS_Store
mvnw*

